### Пайплайн для подготовки данных

In [1]:
import os
import joblib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Получение каталога с данными:

In [2]:
BASE_DIR = r"C:\Users\andre\IdeaProjects\TyuiuDirectionsRecSys"

EXCELS_DIR = os.path.join(BASE_DIR, "data", "10 лет")

Столбцы с нужными данными:

In [16]:
COLUMNS = [
    "Пол",
    "Ср. балл док-та об образовании",
    "Сумма баллов",
    "Обществознание",
    "мат",
    "Информатика и информационно–коммуникационные технологии (ИКТ)",
    "РУССКИЙ ЯЗЫК",
    "Физика",
    "Химия",
    "История",
    "Формирующее подр.",
    "Направление подготовки"
]

Загрузка excel файла:

In [19]:
file_path = os.path.join(EXCELS_DIR, "2024.xlsx")
df = pd.read_excel(file_path)
df = df[COLUMNS]
df["ГОД"] = 2024
df.shape

(2843, 13)

In [20]:
df.head(3)

,Пол,Ср. балл док-та об образовании,Сумма баллов,Обществознание,мат,Информатика и информационно–коммуникационные технологии (ИКТ),РУССКИЙ ЯЗЫК,Физика,Химия,История,Формирующее подр.,Направление подготовки,ГОД
0,Ж,5.000,247,NaN,84.0,NaN,89.0,64.0,NaN,NaN,Институт сервиса и отраслевого управления,21.03.02 Землеустройство и кадастры,2024
1,Ж,5.000,234,NaN,NaN,NaN,68.0,NaN,NaN,NaN,Институт сервиса и отраслевого управления,43.03.00 Сервис и туризм,2024
2,Ж,4.688,187,NaN,58.0,NaN,67.0,62.0,NaN,NaN,Институт промышленных технологий и инжиниринга,28.03.03 Наноматериалы,2024

Заполнение пропусков:

In [21]:
df = df.fillna(0)
df.head(3)

,Пол,Ср. балл док-та об образовании,Сумма баллов,Обществознание,мат,Информатика и информационно–коммуникационные технологии (ИКТ),РУССКИЙ ЯЗЫК,Физика,Химия,История,Формирующее подр.,Направление подготовки,ГОД
0,Ж,5.000,247,0.0,84.0,0.0,89.0,64.0,0.0,0.0,Институт сервиса и отраслевого управления,21.03.02 Землеустройство и кадастры,2024
1,Ж,5.000,234,0.0,0.0,0.0,68.0,0.0,0.0,0.0,Институт сервиса и отраслевого управления,43.03.00 Сервис и туризм,2024
2,Ж,4.688,187,0.0,58.0,0.0,67.0,62.0,0.0,0.0,Институт промышленных технологий и инжиниринга,28.03.03 Наноматериалы,2024

In [24]:
df = df.drop(["Формирующее подр.", "ГОД"], axis=1)

In [25]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline

In [28]:
target = df["Направление подготовки"]
target.head(3)

0    21.03.02 Землеустройство и кадастры
1               43.03.00 Сервис и туризм
2                 28.03.03 Наноматериалы
Name: Направление подготовки, dtype: object

In [29]:
X = df.drop("Направление подготовки", axis=1)
X.head(3)

,Пол,Ср. балл док-та об образовании,Сумма баллов,Обществознание,мат,Информатика и информационно–коммуникационные технологии (ИКТ),РУССКИЙ ЯЗЫК,Физика,Химия,История
0,Ж,5.000,247,0.0,84.0,0.0,89.0,64.0,0.0,0.0
1,Ж,5.000,234,0.0,0.0,0.0,68.0,0.0,0.0,0.0
2,Ж,4.688,187,0.0,58.0,0.0,67.0,62.0,0.0,0.0

In [30]:
encoder = LabelEncoder()
X["Пол"] = encoder.fit_transform(X["Пол"])
X.head(3)

,Пол,Ср. балл док-та об образовании,Сумма баллов,Обществознание,мат,Информатика и информационно–коммуникационные технологии (ИКТ),РУССКИЙ ЯЗЫК,Физика,Химия,История
0,0,5.000,247,0.0,84.0,0.0,89.0,64.0,0.0,0.0
1,0,5.000,234,0.0,0.0,0.0,68.0,0.0,0.0,0.0
2,0,4.688,187,0.0,58.0,0.0,67.0,62.0,0.0,0.0

In [31]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [33]:
X = pd.DataFrame(data=X_scaled, columns=X.columns)

In [34]:
X

,Пол,Ср. балл док-та об образовании,Сумма баллов,Обществознание,мат,Информатика и информационно–коммуникационные технологии (ИКТ),РУССКИЙ ЯЗЫК,Физика,Химия,История
0,-1.443438,0.917697,0.808879,-0.221956,1.069196,-0.580301,1.320165,1.100866,-0.173451,-0.132907
1,-1.443438,0.917697,0.534718,-0.221956,-1.658295,-0.580301,0.010420,-0.822737,-0.173451,-0.132907
2,-1.443438,0.567449,-0.456480,-0.221956,0.224972,-0.580301,-0.051948,1.040753,-0.173451,-0.132907
3,0.692790,0.356402,-0.351034,-0.221956,0.224972,-0.580301,-0.114317,1.221091,-0.173451,-0.132907
4,0.692790,0.125149,0.408182,-0.221956,0.744494,2.497476,0.072789,-0.822737,-0.173451,-0.132907
...,...,...,...,...,...,...,...,...,...,...
2838,-1.443438,-1.327482,1.504826,-0.221956,0.224972,-0.580301,0.945952,-0.822737,-0.173451,-0.132907
2839,-1.443438,-1.327482,0.513628,4.338785,-1.658295,-0.580301,1.320165,-0.822737,-0.173451,7.933517
2840,0.692790,-0.204892,-0.751731,-0.221956,0.224972,-0.580301,-0.987480,0.920528,-0.173451,-0.132907
2841,-1.443438,0.917697,-0.140140,-0.221956,0.419793,-0.580301,0.447002,0.770246,-0.173451,-0.132907
2842,-1.443438,0.427125,0.366003,-0.221956,0.939315,-0.580301,-0.051948,1.551710,-0.173451,-0.132907

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier